body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

.frame {
  padding-top: 10px;
  width: 300px;
  margin: 0 auto;
}

table {
  /* width: 90%; */
  border-collapse: collapse;
  text-align: center;
}

tr{
  border-top: solid 1px rgb(156, 156, 156);
}

th {
/* font-weight: normal; */
background-color: skyblue;
color: rgb(43, 65, 138);
}

td {
  padding: 10px 0;
}

.foodCol, .deleteCol{
  width: 70px;
}

.typeCol {
  width:50px;
}

.dateCol{
  width: 40px;
}

.editCol{
  width: 30px;
}

input {
  border: none;
  display: inline-block;
  background-color: white;
}

.inputText{
  width: 50px;
  height: 20px;
  text-align: center;
  border: solid 1px rgb(156, 156, 156);
}

.inputDate{
  width: 35px;
}

.btn {
  border-radius: 5px;
}

.btnDelete {
  background-color: rgb(245, 171, 102);
  width: 70px;
}

.btnAdd {
  background-color: rgb(43, 65, 138);
  color: white;
  font-weight: bold;
  width: 60px;
}


.btnRadio {
  color: rgb(43, 65, 138);
}

.addRow {
  background-color: skyblue;
}

.shohi {
  color: red;
}

.shomi {
  color: orange;
}

.unselected {
  color: gray;
}

@media (min-width: 450px) {

  body {
    font-size: 16px;
  }
  
  .frame {
    width: 450px;
    margin: 0 auto;
  }
  
  .foodCol, .deleteCol{
    width: 100px;
  }
  
  .typeCol {
    width:60px;
  }
  
  .dateCol {
    width: 70px;
  }
  
  .editCol{
    width: 50px;
  }

  .inputText{
    width: 90%;
  }

  .inputDate{
    width: 65px;
  }
  
  .btn {
    border-radius: 5px;
  }
  
  .btnDelete {
    background-color: rgb(245, 171, 102);
    width: 70px;
  }
  
  .btnAdd {
    background-color: rgb(43, 65, 138);
    color: white;
    font-weight: bold;
    width: 60px;
  }
}

@media (min-width: 600px) {
  .frame {
    width: 80%;
    margin: 0 auto;
  }
  
  .foodCol{
    width: 20%;
  }
  
  .dateCol {
    width: 15%;
  }

  .typeCol {
    width:20%;
  }
  
  .deleteCol{
    width: 15%;
  }

  .editCol{
    width: 15%;
  }

  .inputText{
    width: 90%;
  }

  .inputDate{
    width: 90%;
  }
  
  .btn {
    border-radius: 5px;
  }
  
  .btnDelete {
    background-color: rgb(245, 171, 102);
    width: 70px;
  }
  
  .btnAdd {
    background-color: rgb(43, 65, 138);
    color: white;
    font-weight: bold;
    width: 60px;
  }
}

@media (min-width: 1200px) {
  .frame {
    width: 1000px;
    margin: 0 auto;
  }
}